* { box-sizing: border-box; }
a { text-decoration: none; color: #059; }
ul { list-style-type: square; }
li { line-height: 22px; margin: 5px 0 0; }
img { max-width: 100% }
h1, h2, h3 { margin: 0 }
hr { border-color: #ccc }
pre { padding: 10px; border-radius: 3px; background: #def; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }

body { margin: auto; font: 14px/22px arial; max-width: 1100px; padding: 30px 30px 0; min-width: 490px; }
header { text-align: center; }
header .logo { width: 490px; padding: 0 0; overflow: hidden; margin: 0 auto 20px; }
header span { font-size: 10px; display: inline-block; transform: scale(1.5,1); }
header menu { padding: 0; margin: 0 0 25px 0; }
header h2 { font-size: 90px; line-height: 70px; margin: 20px 0 0; transform: perspective(130px)rotateX(-60deg); transform-origin: bottom center; color: #125; }
header h3 { font-size: 13px; line-height: 20px; margin: 0 0 10px; transform: scale(1,1.5); background: -webkit-linear-gradient(#555, #888); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
header a { background: #f1f2f3; min-width: 120px; height: 30px; line-height: 30px; border-radius: 3px; display: inline-block; margin: 0 0 5px 0; padding: 0 10px; }
header a.home { min-width: 40px }
header a:hover, header a.active { background: #059; color: #fff }
.wrapper { min-height: calc(100vh - 85px) }

main { padding-left: 270px; }
main.home { padding-left: 0 }
main.techwatch { padding-left: 0 }
main.techwatch li { line-height: 20px; }
main a { font-weight: bold }
/*#menu { margin: 0 auto 30px; columns: 4; vertical-align: top; background: #f3f3f3; border-radius: 5px; padding: 15px 0 15px 30px; }
*/
#menu ul { margin: 0; padding: 0 0 0 20px; }
#menu li { margin: 0; line-height: 22px; }
#menu .active { color: #000; font-weight: bold }
#menu.techwatch { columns: 2; display: none; }
#menu { position: sticky; top: 10px; left: 0; float: left; width: 250px; height: calc(100vh - 20px); overflow: auto; background: #f8f8f8; border: 2px solid #ddd; padding: 15px; border-radius: 5px; }

.section { padding: 30px 20px; margin: 0 0 20px; max-width: 100%; overflow: hidden; border: 2px solid #ddd; border-radius: 5px; }
.section#intro { padding-bottom: 10px; }
.section.games a { width: 15%; display: inline-block; vertical-align: top; margin: 1% 1% 1% 0; }
.section.games a img { width: 100%; }

footer { text-align: center; margin: 0 0 20px }
footer a { text-decoration: none; color: #059; }
footer .backtotop { position: fixed; right: 0; bottom: 10px; width: 25px; height: 30px; background: #def; border-radius: 5px 0 0 5px; text-align: center; line-height: 30px; font-size: 25px; cursor: pointer; color: #246; }

.utterances { background: #ddd; border-radius: 5px; padding: 0 10px;max-width: 100%; } 
.utterances-frame { left: 5px; min-width: calc(100% - 10px);
max-width: calc(100% - 10px); } 