* { margin: 0; padding: 0; }
html { background: #fff; height: 100%; overflow: auto; }
body { width: 1150px; min-height: 100%; overflow: visible; margin: 0 auto; font: normal 12px/18px Arial; background: #eee; background: linear-gradient(90deg, #fff 195px, #eee 205px, #eee 990px, #fff 1000px); }
h1, h2, h3, h4 { margin: 10px 0; }
ol, ul { padding-left: 20px; }
table { width: 100%; border-collapse: collapse; }
textarea { width: 100%; }
td { vertical-align: top; }
.header a, .header a:visited { display: block; width: 160px; margin: 10px auto; text-align: center; color: #456 }
button, .header a { margin: 10px 0; cursor: pointer; padding: 5px; background: #eee; border-radius: 5px; border: 1px solid #888; box-shadow: 2px 2px 2px #888; }
button:hover, .header a:hover { border: 1px solid #888; box-shadow: none; position: relative; top: 2px; left: 2px; }
button.active, .header a.active { background: #888; color: #fff; border: 1px solid #666; box-shadow: none; position: relative; top: 2px; left: 2px; }
.menu, .body, .language, .aside { display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
.menu { width: 190px; text-align: center; padding-right: 10px; }
.menu h1 { font-size: 22px; margin-bottom: 5px; }
.section button { padding: 1px 3px; }
.body { width: 770px; height: 100%; margin: 0; padding: 0 10px; }
a { color: #007CAD; font-weight: 600; text-decoration: none; }
a:visited { color: #00A4E5; }
.accueil li { line-height: 1.7em; }
.intro { background: #ffd; border-radius: 10px; border: 2px solid #aaa; border-right: 3px solid #aaa; border-bottom: 3px solid #aaa; padding: 20px; }
.section { background: #fff; border-radius: 10px; border: 2px solid #aaa; border-right: 3px solid #aaa; border-bottom: 3px solid #aaa; padding: 20px; text-align: left; }
.center { text-align: center; }
pre { background: #fed; padding: 20px; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
p, div, script, style, pre { margin: 10px 0; }
script, style, pre { font: normal 11px/16px monospace; overflow-x: auto; }
div#twitter { margin: 0; }
div.demo div { margin: 0; }
div.demo { background: #def; padding: 20px }
div.demo pre { background: #def; padding: 10px; }
div[contenteditable], pre[contenteditable], style[contenteditable], script[contenteditable], p[contenteditable] { display: block; border: 1px dotted red; padding: 1em; }
.tar { text-align: right; }
.header, .footer { width: 175px; margin: 10px; position: absolute; position: fixed; }
.header { top: 0; margin-bottom: 30px; }
.footer { bottom: 0; }
@media screen and (max-height: 450px){ .header, .footer { position: relative; }}
@-webkit-keyframes pulse { 50% { -webkit-transform: scale(1.2); transform: scale(1.2); }}
@keyframes pulse { 50% { -webkit-transform: scale(1.2); -ms-transform: scale(1.2); transform: scale(1.2); }}
.pulse { -webkit-animation: pulse 1s 10; -moz-animation: pulse 1s 10; -o-animation: pulse 1s 10; animation: pulse 1s 10; border: 1px solid #000; }
#twitter-widget-0, #twitter-widget-1 { height: 750px; width: 360px!important; }
#js13k2015 .twitter-tweet  { height: 250px!important; width: 500px!important; }
.lang { float: right; cursor: pointer; }
.aside { width: 300px; padding-left: 30px; position: fixed; }