* { margin: 0; padding: 0; border: 0; font: inherit; color: #444 }
body { background: #eee }
.flag { float: right; position: fixed; top: 0; right: 0; margin: 20px; box-shadow: 1px 1px 2px #000 }
.flag img { margin: 0; vertical-align: top }
.flag div { display: none }
.flag:hover div { width: 120px; display: block; text-align: center; position: absolute; top: 30px; left: -100px; background: #fff; border-radius: 10px; padding: 10px; box-shadow: 1px 1px 2px #000 }
#top { width: 850px; margin: 20px auto; padding: 20px; background: #fff; box-shadow: 5px 5px 5px #888 }
table { width: 100%; border-collapse: collapse }
td { padding: 15px 10px; vertical-align: top; font: normal 0.9em/1.5em Arial }
h1, h2 { color: #006; margin: 2px 0 }
h1 { font: bold 1.5em Arial; margin-top: 0 }
h2 { font: bold 1.1em Arial }
h3 { font: bold italic 1.08em Arial; text-align: center; color: #000; margin: 0 0 20px; color: #500 }
a { text-decoration: none }
a:hover { text-decoration: underline }
.link1 { font-weight: bold; color: #006 }
.w-1-2 { width: 50% }
.w-2-3 { width: 66.6% }
.w-1-3 { width: 33.3% }
.right { text-align: right }
.center { text-align: center }
.b-b { border-bottom: 1px solid #040 }
.b-r { border-right: 1px solid #040 }
img { vertical-align: middle; margin: 0 5px }
b { font-weight: bold; padding: 10px 0 }
@media print{
  body { background: #fff }
  .flag { display: none }
  #top { box-shadow: none }
}